<div class="container">

  <mat-card *ngFor="let product of (products$ | async)" style="margin-top:12px;">
      <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>{{product.price}} € / {{product.quantity}}
          </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="content" >
          <p>
              {{product.description}}
          </p>
          <img class="photo" src="{{ product.imageUrl }}" />
      </mat-card-content>
      <mat-card-actions>
    <button color="primary" mat-button (click)="update(product.id)" > Modifier</button>
    <button color="warn" mat-button (click)="delete(product.id)"> Supprimer</button>
  </mat-card-actions>
  </mat-card>
</div>
