.container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}


.content {
  display: flex;
  flex-direction: column;
}
.photo {
  justify-self: center;
}
